.row1{
    margin-top: 15px;
    background-color: black;
    border-radius: 3px;
    height:400px;
}

.video{
    object-fit: cover;
    
}

.righttext{
    background-color: rgb(172, 143, 172);
    color: black;
    text-align: center;
    padding-top: 30px;
    font-size: large;
    
}

.middletext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(172, 143, 172) ;
    text-align: center;
    height: 310px;
    padding-top: 40px;
    margin-top: 60px;
    font-size: large;
    color: whitesmoke;
}

.rightt{
    background-color: rgb(172, 143, 172);
    text-align: center;
    height: 290px;
    padding-top: 60px;
    margin-top: 60px;
    margin-left: 20px;
    font-size: large;
    width: 300px;
}

img.imgshop{
    width: 360px;
    height: 450px;
    padding-top: 20px;
    position: relative;
}

img.imgnewarrivals{
    height: 450px;
    padding-top: 60px;
}
img.imgshopL{
    width: 550px;
    height: 550px;
    padding-top: 60px;
}

.row2{
    background-color: black;
    border-radius: 3px;
    height: 450px;
}

