.row1{
    margin-top: 15px;
    background-color: black;
    border-radius: 3px;
    height:400px;
}

.video{
    object-fit: cover;
    
}

.righttext{
    background-color: rgb(172, 143, 172);
    color: black;
    text-align: center;
    padding-top: 30px;
    font-size: large;
    
}
/* 
.gallery1, .gallery2, .gallery{
background-color: green;
} */

.middletext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(172, 143, 172) ;
    text-align: center;
    height: 310px;
    padding-top: 20px;
    margin-top: 60px;
    margin-left:10px;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 3px;
    font-weight: bold;
}

.rightt{
    background-color: rgb(172, 143, 172);
    text-align: center;
    height: 290px;
    padding-top: 60px;
    margin-top: 60px;
    margin-left: 20px;
    font-size: large;
    width: 300px;
   
}

img.imgshop1{
    display: block;
    width: 360px;
    height: 450px;
    padding-top: 20px;
    position: relative;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-right: 7px;
    transition: transform .2s;
}

img.imgshop1:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
  }
img.imgshop2{
    display: block;
    width: 360px;
    height: 450px;
    padding-top: 20px;
    position: relative;
    border-radius: 5px;
    margin-right: 4px;
    padding-right: 5px;
    padding-bottom: 20px;
    transition: transform .2s;
}

img.imgshop2:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
  }

/* img.imgnewarrivals{
    height: 450px;
    padding-top: 60px;
}
img.imgshopL{
    width: 550px;
    height: 550px;
    padding-top: 60px;
} */

.row2{
    background-color: black;
    border-radius: 3px;
    height: 450px;
}

.videorow{
    margin-bottom: 40px;
}