nav{
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.col-md-1{
  border-color: none;
}

img{
    display: block;
    width: 40%;
    text-align: center;
    justify-content: center;
    
}

.zoom {
  transition: transform .2s;
  width: 240px;
  height: 250px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.zoom:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
}

.firstnavrow{
  height: 80px;
  padding-top: 8px;
  margin-bottom: 3px;
}

.secondnavrow{
  border-bottom: 2px solid purple;
  margin-bottom: 10px;
 
  
}

.relative{
  position:relative;
}

.cart{
  padding-top: 20px; 
  border-width: 2px;
  text-align: right;
  padding-right: none;
  margin-right: none;
}


.person{
  padding-top: 20px;
  border-width: 2px;
  padding-left: 1px;
  margin-left: 1px;
}

/* .searchbuttons{
  text-align: right;
  width: 300px;
  border: none;
  padding-top: 20px;
  border-width: 2px;
  padding-left: 1px;
  margin-left: 1px;
  border-bottom: solid pink 2px;
  background-color: white;
} */


button.dropbtn {
  text-align: center;
    background-color: white;
    color: rgb(49, 47, 47);
    font-size: 13px;
    font-weight: bold;
    border: none;
    width: 200px;
    padding-bottom: 5px;
    letter-spacing: 1px;
  }

 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;


    
  }
  
  .dropdown-content a {
    height: 14px;
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    font-size: 14px;
    text-align: center;
  }
  
  .dropdown-content a:hover {color:purple}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: purple;}

  .dropdown:hover a:hover{color: purple; border-bottom-color: solid purple;}

